:root {
  --red: #fe3044;
  --white: rgba(237, 237, 237, 0.806);
}

.profileDiv {
  display: flex;
  width: 100%;
  margin-top: 20px;
  height: 500px;
  justify-content: center;
  gap: 3%;
}
.profileCard {
  width: 380px;
  height: 330px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  gap: 1%;

  align-items: center;
}
.profileDetailCard {
  width: 92%;
  height: 70%;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  justify-content: center;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 2%;
}
button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}
.detail {
  width: 95%;
  height: 52px;
  background-color: white;
  margin-top: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.detail span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}
.detail p {
  width: 80%;
}
.settingDiv {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  color: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.settingDiv:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  color: black;
}
